<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumno Registro</title>
</head>
<body>
    <h1>Alumno Registro</h1>
    <div class="container">
        <form action="#" th:action="@{alumnoRegistro}" th:object="${alumno}" method="POST">
        <label for="nombre">Nombre</label>
        <input type="text" th:field="*{nombre}" id="nombre" required>
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>  <!--aca muestro el msg error de la clase alumno-->
        <br><br><br><br>

        <label for="apellido">Apellido</label>
        <input type="text" th:field="*{apellido}" id="apellido" required>
        <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
        <br><br><br><br>

        <label for="edad">Edad</label>
        <input type="number" th:field="*{edad}" id="edad" required>
        <span th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></span>  <!--aca muestro el msg error de la clase alumno-->
        <br><br>

        <label for="email">E-mail</label>
        <input type="email" th:field="*{email}" id="email" required>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>  <!--aca muestro el msg error de la clase alumno-->
        <br><br>

        <label for="codigoPostal">Codigo Postal</label>
        <input type="text" th:field="*{codigoPostal}" id="codigoPostal" required>
        <span th:if="${#fields.hasErrors('codigoPostal')}" th:errors="*{codigoPostal}"></span>  <!--aca muestro el msg error de la clase alumno-->
        <br><br>

        <label for="optativa">Elegi una optativa</label>
        <select name="optativa" id="optativa">
            <option value="Matematicas">Matematicas</option>
            <option value="Geografia">Geografia</option>
            <option value="Fisica">Fisica</option>
            <option value="Quimica">Quimica</option>
        </select>

        <br><br>
        
        <label for="sede">Elegi la sede</label> <br>

        <input type="radio" name="sede" id="sede" value="Pergamino">
        <label for="Pergamino">Pergamino</label><br>

        <input type="radio" name="sede" id="sede" value="Junin">
        <label for="Junin">Junin</label><br>

        <input type="radio" name="sede" id="sede" value="Rojas">
        <label for="Rojas">Rojas</label><br>

        <label for="extranjero">Extranjero?</label>
        <input type="checkbox" th:field="*{extranjero}" id="extranjero"><br><br>
        
        <label for="idioma">Elegi el idioma que hablas</label><br>

        <input type="checkbox" th:field="*{idioma}" id="idioma" value="ingles">
        <label for="ingles">ingles</label>

        <input type="checkbox" th:field="*{idioma}" id="idioma" value="español">
        <label for="español">español</label>

        <input type="checkbox" th:field="*{idioma}" id="idioma" value="frances"> 
        <label for="frances">frances</label>
        
        <input type="submit" value="Registrar">
    </form>
    </div>
</body>
</html>